<p id="notice"><%= notice %></p>

<h1>Listing Snippets</h1>
<% @snippets.each do |snippet| %>
<div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text1' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro1' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text1' class="panel-body">
    <%= snippet.content %>
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro1"))
   });
</script>
  <% end %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.content %></td>
        <td><%= link_to 'Show', snippet %></td>
        <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
        <td><%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snippet', new_snippet_path %>
