<div class="jumbotron">
<h1>Happlyr</h1>
<p>Erstelle das beste Anschreiben für deine Bewerbung</p>
</div>

<div>
  <h1>Intro</h1>

<div class="panel panel-default">
  <%= render "layouts/copy_button1" %>
  <%= render "pages/intro/introtext/introtext_1.html.erb" %>
</div>
   <%= render "layouts/copy_script1" %>

<div class="panel panel-default">
  <%= render "layouts/copy_button2" %>
  <%= render "pages/intro/introtext/introtext_2.html.erb" %>
</div>
  <%= render "layouts/copy_script2" %>





<div>
  <h1>Hauptteil</h1>
</div>

<div>
  <h1>Outtro</h1>
</div>